<header>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="http://placehold.it/100x100?text=logo" alt="logo">
        </a>

        <button class="button navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
          <a href="/news" class="navbar-item">News</a>
        </div>
      </div>
    </nav>
  </div>
</header>